# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hairhaus_erp
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRY_HOURS=24

# Server
SERVER_PORT=8080

# HAIRHAUS Loyalty
HAIRHAUS_LOYALTY_JWT_SECRET=kMiPI0JmJuEm2sp10qiJu638Se2SjRqkBkvJ0fxYfyvfjvAvibUCAs9tP
HAIRHAUS_LOYALTY_API_URL=http://localhost:3001/api/open